<div>
  <h1>Donation Contract Sample</h1>

  <div class="card mb-3">
    <div class="card-block">
      Network : <span class="badge badge-primary connect-status">Connected</span>
      Current Network Name : <span class="badge badge-warning connect-network">Network</span>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-block">
      <div class="form-group">
        <label for="new-contract-address">New Contract Address</label>
        <div class="form-inline">
          <input type="text" class="form-control col-sm-5" id="new-contract-address" aria-describedby="new contract" placeholder="Enter new Contract Address">
          <button id="change-contract" class="btn btn-success" >Change Contract</button>
        </div>
        <div>
          <div class="badge badge-primary">CurrentContract : <span id="contractAddr">Loading..</span></div>
          <div class="badge badge-primary">CurrentContractBalance : <span id="contract-balance">Loading..</span> Ether</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-block">
      <div class="form-group">
        <label for="new-contract-address col-sm-12 mb-6">New Funding</label>
        <div class="form-inline">
          <input type="text" class="form-control col-sm-5 mr-3" id="fund-from" aria-describedby="fund Address" placeholder="Enter Fund Address">
          <div class="input-group col-sm-5 mr-3">
            <span class="input-group-addon" id="">Ξ</span>
            <input type="text" class="form-control" id="fund-amount" aria-describedby="fund Amount" placeholder="Enter Fund Balance">
          </div>
          <button id="do-fund" class="btn btn-success" >Do Funding</button>
        </div>
        <button id="change-address" class="btn btn-success" >Change Address</button>
        <div class="badge badge-warning">
          Current Account Balance : <span class="address-balance">Check Now</span>
           Ether
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3">
    <div class="card-block">
      <div class="form-group">
        <label for="new-contract-address col-sm-12 mb-6">Move Funded Ether</label>
        <input type="text" class="form-control col-sm-5 mr-3" id="from-move-fund" aria-describedby="fund Address" placeholder="Enter Fund Address" disable>
        <div class="form-inline">
          <input type="text" class="form-control col-sm-5 mr-3" id="move-fund-to" aria-describedby="send Address" placeholder="Enter Sending Address">
          <div class="input-group col-sm-5 mr-3">
            <span class="input-group-addon" id="">Ξ</span>
            <input type="text" class="form-control" id="amount-to-move" aria-describedby="fund Amount" placeholder="Enter Sending Balance">
          </div>
          <button id="move-fund" class="btn btn-success" >Send Funded Eth</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h5> Logs </h5>
      <div id='log'>
      </div>
    </div>
  </div>
</div>

