<div class="modal fade" id="connect-modal" tabindex="-1" role="dialog" aria-labelledby="connect-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          Current Ethereum Network not Connected....
        </div>
        <div>
          Please Install  Mist or  MetaMask,...
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
